# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# IDE
.idea/
*.iml
*.iws
.vscode/
.classpath
.project
.settings/

# OS
.DS_Store

# Logs
*.log

# Env
.env
